.project
.settings
.idea
Session.vim

/tests/
/examples/test/*

*.tar.gz
*.tmp*
*.csv
*.swp
.DS_Store
\#*\#
.\#*
*~
*.nddb
_*
LOG

npm-debug.log
node_modules/
node_modules_old

descil.conf.js

imgscore

log/*.log


private

DATA
DATA2

*.csv
*.json
report.html

imgs/
essays_and_feedbacks/
ROOMS_BEFORE/
*.jpg
